@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url("https://use.typekit.net/gsh8nqc.css");

:root {
    --font-size--tiny: calc((10/ 16) * 1rem);
    --font-size--small: calc((14 / 16) * 1rem);
    --font-size--default: calc((16 / 16) * 1rem);
    --font-size--h4: calc((18 / 16) * 1rem);
    --font-size--h3: calc((24 / 16) * 1rem);
    --font-size--h2: calc((30 / 16) * 1rem);
    --font-size--h1: calc((48 / 16) * 1rem);
}

html {
    --color-background--content: #FDF0ED;

    --color-text--default: #1A1C23;
    --color-text--highlight: #DA103F;
    --color-button--default: #1D8991;
}

html[data-theme="dark"] {
    --color-text--default: #1A1C23;
    --color-text--highlight: #DA103F;
    --color-button--default: #1D8991;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FCE9E4;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: termina;
    font-weight: 400;
    font-size: var(--font-size--h1);
    margin-bottom: 0;
    color: #1A1C23;
}

h2 {
    font-family: "Termina";
    font-weight: 300;
    font-size: var(--font-size--h2);
    margin-bottom: 0;
    color: #F6661E;
}

h3 {
    font-family: bio-sans;
    font-size: var(--font-size--h3);
    color: #8931B9;
    padding-block: 0;
    margin-block: 0;
}

h4 {
    font-family: 'Fira Code';
    font-size: var(--font-size--h4);
    color: #1D8991;
    margin: 0;
}

h5 {
    font-family: bio-sans;
    font-weight: 600;
    font-size: var(--font-size--tiny)
}

a {
    font-family: bio-sans;
    font-size: var(--font-size--default);
    font-weight: 400;
    color: #DA103F;
}

p {
    font-family: bio-sans;
    font-size: var(--font-size--default);
    margin-top: 0;
}

hr {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    border: 0;
    background-color: #FADAD1;
}

ul {
    list-style: none;
    margin-block: 0.5em;
}

li {
    font-size: var(--font-size--default);
    font-family: bio-sans;
}

h1 a {
    text-decoration: none;
    font-family: termina;
    font-weight: 400;
    font-size: var(--font-size--h1);
    margin-bottom: 0;
    color: #1A1C23;
}

h1 a:hover {
    text-decoration: underline;
    font-family: termina;
    font-weight: 400;
    font-size: var(--font-size--h1);
    margin-bottom: 0;
    color: #1A1C23;
}

button {
    font-family: bio-sans;
    font-size: 1em;
    font-weight: 300;
    border: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #1D8991;
    color: #FDF0ED;
    border-radius: 0;
}

.floating-content {
    color: #6C6F93;
    text-align: right;
    position:absolute;
    transform-origin: right;
    right: 16px;
}

#header {
    font-size: var(--font-size--default);
    padding-block: 1rem;
    background-color: #FADAD1;
    align-content: center;

    top: 0;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
}

.header__content {
    padding-inline: 16px;
    max-width: 1280px;
    margin-inline: auto;
}

.header__navbar {
    float: right;
}

.header__navbar ul {
    padding: 0;
    margin: 0;
}

.header__navbar li {
    font-family: termina;
    font-size: var(--font-size--small);
    margin-inline: 0.5rem;
    display: inline-block;
    
}

.header__navbar a {
    font-size: var(--font-size--small);
    font-family: termina;
    text-decoration: none;
    color: #1A1C23;
}

.intro h1 {
    font-weight: 700;
}

#profile-picture {
    border-radius: 100%;
    width: 16em;
    float: left;
    margin-right: 4em;
    margin-top: 2em;
}

#about__blurb {
    margin-top: 2em;
}

.content {
    max-width: 1280px;
    padding-top: var(--font-size--h1);
    padding-bottom: 2.5rem;
    padding-inline: 16px;
}

.content hr {
    margin: 0;
    width: 20%;
}

.footer {
    padding-bottom: 8em;
    padding-top: 3em;
    background-color: #FADAD1;
}

.footer__content {
    max-width: 1280px;
    padding-inline: 16px;
    font-family: bio-sans;
    font-weight: 300;
    font-size: var(--font-size--small);
    display: flex;
    align-items: top;
    justify-content: center;
}

.footer__content div {
    width: 100%;
}

.footer ul {
    padding: 0;
}

.footer li {
    font-size: var(--font-size--small);
}

.footer h5 {
    margin-top: 0;
}

.footer a {
    font-size: var(--font-size--small);
}

.footer__hotlinks {
    text-align: center;
}

.footer__hotlinks__contact {
    margin-bottom: 1rem;
}

.footer__hotlinks__socials li {
    display: inline-block;
    margin-inline: 0.25rem;
}

.footer__hotlinks img {
    width: 2rem;
    height: 2rem;
    opacity: 25%;
}

.footer__navbar {
    text-align: right;
}

.footer__navbar a {
    font-size: var(--font-size--small);
    text-decoration: none;
    color: #1A1C23;
}

@media (min-width: 1312px) {

    .resume {
        display: flex;
    }

    .column-left-small {
        max-width: 25%;
        float: left;
    }

    .column-right-large {
        max-width: 70%;
        float: right;
    }

    .content {
        min-width: 1280px;
        margin-inline: auto;
    }

    .floating-content {
        color: #6C6F93;
        text-align: right;
        position: fixed;
        position: fixed;
        width: 600px;
        height: 200px;
        left: 50%;
        top: 128px;
        margin-left: 32px;
        opacity: 25%;
    }

    .floating-content::after {
        opacity: 100%;
    }
    
    .floating-content:hover {
        opacity: 100%;
        transition: 0.3s;
    }

    .footer__content {
        margin-inline: auto;
    }
    
}