@import url("https://use.typekit.net/ban4erd.css");

/* body * {
    border: 1px solid red;
} */

:root {
    --small: 1em;
    --medium: 1.2em;
    --large: 2.7em;
    --x-large: 6.075em;
}

html {
    /* --c-background-primary: #f3eae6; */
    --c-background-primary: #fff0f5;
    --c-background-secondary: #ffffff;
    --c-background-tertiary: #bfa5cd;
    --c-text-default: #483055;
    --c-strong-primary: #a53edc;
    --c-strong-secondary: #ff1582;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: var(--c-background-primary);
    color: var(--c-text-default);
}

h1 {
    font-family: park-lane, serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--x-large);
    margin: 0 auto 1em;
    text-align: center;
    line-height: 0.8em;
    max-width: 768px;
}

.welcome {
    margin-top: 216px;
}

h2 {
    font-family: neue-haas-unica, sans-serif;
    font-size: var(--large);
    margin: 2em auto;
    font-weight: 500;
}

h3 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--medium);
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 1em;
}

nav {
    font-weight: 400;
    font-size: var(--medium);
}

p, li {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--medium);
    line-height: 2em;
    margin: auto;
}

a {
    font-family: neue-haas-unica, sans-serif;
    width: fit-content;
    font-weight: 400;
}

li {
    font-family: neue-haas-unica, sans-serif;
    line-height: 1.25em;
    font-size: var(--medium);
}

span {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

img {
    margin: auto;
    padding: 1.5em 0;
    width: 100%;
}

.img-small {
    width: 30%;
}

button {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--small);
    color: var(--c-background-secondary);

    padding: 1em 2em;
    border-radius: 999em;
    background-color: var(--c-strong-primary);
}

button:hover {
    background-color:#7c00be;
    transform: translateY(0.25em);
    transition: all 0.125s;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--c-background-tertiary);
}

.button-alt {
    background-color: var(--c-strong-secondary);
}

.button-alt:hover {
    background-color: #c4005b;
}

.align-left {
    text-align: left;
    padding-left: 1.75em;
}

#header {
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5em 2em 2em;
    background-color: var(--c-background-secondary);
    position: fixed;
    transition: all 0.3s;
    border-radius: 999em;
    top: 1em;
    width: fit-content;
}

#header::before {
    border-radius: 999em;
    box-shadow: 0 0.25em 8px var(--c-background-primary);
    mix-blend-mode: multiply;
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#content-wrapper {
    margin: 0 auto;
    text-align: center;
}

#content-wrapper p:not(.grid p) {
    max-width: 16em;
    margin: 0 auto 1.5em;
}

.darkbubble {
    margin: 5em auto;
    padding: 3.5em 0;
    width: 100%;

    background-color: var(--c-text-default);
}

.darkbubble * {
    color: var(--c-background-secondary)
}

.darkbubble p {
    font-weight: 300;
}

.whitebubble {
    margin: 5em auto;
    padding: 3.5em 0;
    width: 100%;

    background-color: var(--c-background-secondary);
}

.whitebubble h2 {
    margin-top: 0;
}

.whitebubble div {
    text-align: center;
    margin: 0 2.5em;
    vertical-align: middle;
}

.whitebubble p {
    min-width: 100%;
    font-weight: 400;
    line-height: 2em;
    /* font-size: var(--small); */
}

.whitebubble-grid {
    display: block;
}

.whitebubble-grid div {
    margin: 3em 0;
}

#hero-message {
    font-weight: 700;
    font-style: normal;
    font-size: calc((90 / 16) * 1rem);
    margin: 1em 0;
}

#hamburger {
    font-size: 2em;
    display: none;
}

header a {
    outline: none;
}

/* .show {
    display: block;
}

header nav {
    display: none;
} */

header nav a {
    display: inline;
    color: var(--c-text-default);
    width: 0;
    text-align: right;
    margin: auto 1.5em;
    text-decoration: none;
}

.navbar_active {
    border-bottom: 5px solid var(--c-background-tertiary);
}

.navbar_active:hover, .navbar_active:focus {
    border-bottom: 5px solid var(--c-text-default);
}  

header nav a:hover, header nav a:focus {
    outline: none;
    border-bottom: 5px solid var(--c-background-tertiary);
}

footer::before {
    content: '';
    background-color: var(--c-background-primary);
    width: 100%;
    height: 10em;
    display: flex;
    border-radius: 0 0 5em 5em;
}

footer {
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
    background-color: var(--c-background-secondary);
}

footer * {
    font-size: var(--small);
}

footer nav {
    line-height: 2em;
    text-align: center;
}

footer nav a {
    display: block;
    margin: auto;
}

.footer-grid {
    display: block;
}

footer div {
    margin: 1em auto 0;
    padding: 2.5em;
}

footer a {
    color: var(--c-text-default);
    font-weight: 400;
}

footer a:hover, footer a:focus {
    outline: none;
    color: var(--c-strong-secondary);
}

#social-icons img {
    margin: 0 0.5em;
    width: 3em;
    height: 3em;
}

#social-icons a:hover, #social-icons a:focus {
    outline: none;
    transition: all 0.3s;
    filter: brightness(0.50) saturate(600%);
}

@media (min-width: 1024px) {

    #content-wrapper {
        max-width: 1024px;
    }

    #header {
        left: 50%;
        transform: translateX(-50%);
    }

    header nav a {
        display: inline;
        margin: auto 1.5em;
    }

    header nav {
        display: block;
    }

    #hamburger {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 35% auto;
        text-align: left;
        align-items: start;
    }

    .grid * {
        margin-top: 0;
        padding: 0;
        max-width: 100%;
    }

    .darkbubble {
        border-radius: 5em;
    }

    .whitebubble {
        border-radius: 5em;
    }
    
    .whitebubble-grid h2 {
        margin-top: 0;
        padding: 0;
    }
    
    .whitebubble-grid {
        display: grid;
        align-items: start;
        grid-template-columns: 50% 50%;
    }


    .footer-grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        max-width: 720px;
    }

    footer {
        text-align: left;
    }

    footer nav a {
        margin: 0;
    }

    .welcome {
        display: block;
    }

    footer div {
        margin: 2.5em auto 0;
        padding: 0 0 5em;
    }
}